*.npy
*/png

.idea/

/logs

__pycache__/

.DS_Store

*.pickle

*.csv

*.png

*.svg

!envs/race_strategy_model/dataset/*
!envs/race_strategy_model/*.csv

notebooks/.ipynb_checkpoints/Plot-checkpoint.ipynb

rl_agents_scripts/out
notebooks/RiverSwim.zip

.ipynb_checkpoints/
/venv/
/venv./

*.model

data/

envs/race_strategy_model/pickled_models/

.vscode/
